$boder-color:#E8E8E8;
$bg-color:#fff;
$color:#9ABBC8;
#emotions{
    left: 0;
    width: 395px;
    font-size: 12px;
    background: $bg-color;
    position: absolute;
    border: 1px solid $boder-color;
    z-index: 999999;
    a{
        color: $color;
        padding: 2px 7px;
        text-decoration: none;
    }
    img{
        border: 0;
    }
    div{
        margin: 5px 10px;
        padding: 1px;
        overflow: hidden;
    }
    .categorys{
        color: #ccc;
        height: 23px;
        color: $color;
        overflow: hidden;
        a{
            display: inline-block;
        }
        a:hover{
            text-decoration: underline;
        }
        a.current{
            cursor: default;
            background: #F0F0F0;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }
    }
    .emoji-container{
        padding: 1px;
        overflow: hidden;

        a{
            float: left;
            width: 26px;
            height: 22px;
            text-align: center;
            position: relative;
            padding: 4px 2px;
            margin: -1px 0 0 -1px;
            border: 1px solid $boder-color;
        }
        a: hover{
            z-index: 2;
            position: relative;
            border: 1px solid #0095cd;
        }
    }
    .page{
        text-align: right;
        a{
            margin-left: 3px;
            color: #0078B6;
            background-color: #f3f3f3;
        }
        a.current{
            color: #666;
            background-color: $bg-color;
        }
        a:hover{
            background-color: #e7e7e7;
        }
    }
}
